*

!package.json
!package-lock.json
!tsconfig.base.json

!apps/
apps/*

!apps/api/
apps/api/*
!apps/api/Dockerfile
!apps/api/docker-entrypoint.sh
!apps/api/package.json
!apps/api/tsconfig.json
!apps/api/src/
!apps/api/src/**

!apps/ui/
apps/ui/*
!apps/ui/Dockerfile
!apps/ui/package.json
!apps/ui/tsconfig.json
!apps/ui/vite.config.ts
!apps/ui/vitest.config.ts
!apps/ui/index.html
!apps/ui/nginx.conf
!apps/ui/public/
!apps/ui/public/**
!apps/ui/src/
!apps/ui/src/**
