.superpowers/
.playwright-mcp/
node_modules/
dist/
test-results/
playwright-report/
manager-dashboard.png

.codegraph/daemon.pid

# Cấu hình môi trường cục bộ
.env
version.json
apps/jx-services/active
## Cho phép theo dõi settings.json và font SourceCodePro của code-server
!apps/jx-services/.code-server/
apps/jx-services/.code-server/*

!apps/jx-services/.code-server/data/
apps/jx-services/.code-server/data/*
!apps/jx-services/.code-server/data/User/
apps/jx-services/.code-server/data/User/*
!apps/jx-services/.code-server/data/User/settings.json

!apps/jx-services/.code-server/fonts/
apps/jx-services/.code-server/fonts/*
!apps/jx-services/.code-server/fonts/SourceCodePro/
apps/jx-services/.code-server/fonts/SourceCodePro/*
!apps/jx-services/.code-server/fonts/SourceCodePro/sonkt_SourceCodePro-Regular.ttf
.codegraph/codegraph.lock
